{% extends 'base.html' %} 

{% load static %}

{% block title %}Open Language App{% endblock %} 
{% block content %}

    {% if show_ads %}
    <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="{{ google_adsense_client_id }}"
            data-ad-slot="1234567890"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ google_adsense_client_id }}" crossorigin="anonymous"></script>
    {% endif %}
            
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg rounded">
                    <div class="card-body">
                        <h4 class="main_title text-center mb-4" id="player_title">
                            👋 Welcome <span class="text-primary">{{ user.username }}</span>
                        </h4>
                        <div id="player_wrapper" class="mb-4"></div>
                        <button id="main_action_button" class="btn btn-lg btn-primary w-100">Start</button>
                        
                        <button class="btn btn-lg btn-primary w-100">
                            <a href="{% url 'settings' %}">Settings</a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let create_new_exercise_url = "{% url 'create_new_exercise' %}";
        let get_created_exercise_url = "{% url 'get_created_exercise' %}";
        let apply_thumbs_up_url = "{% url 'apply_thumbs_up_or_down' %}";
        let submit_answer_url = "{% url 'submit_answer' %}";
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/player.js' %}"></script>

{% endblock %}